/* 
    Document   : general_css
    Created on : 20/09/2013, 10:48:42 AM
    Author     : Joe
    Description:
        Purpose of the stylesheet follows.
*/

body{
    /*background-color: rgb(226,245,167);*//*verde*/
    /*background-color: rgb(236,233,119); amarillo*/
    background-color: rgb(215,240,247); /*azul*/
    font: 62.5% "Trebuchet MS", sans-serif;
    width: 50em;
}
#accordion {    
    box-shadow: 10px 10px 5px #888888;
}
#loginForm input[type=button],input[type=text],input[type=password],#descriptionText,table,#tableHeader{
    line-height:  3em;
    width: 20em;
    margin: 0.5em;  
    font: 1.5em "Trebuchet MS", sans-serif;
}
.accordionHeader{
    font: 15pt "Trebuchet MS", sans-serif;    
}
