<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <link href="../css/start_theme/jquery-ui-1.10.3.custom.css" rel="stylesheet">
        <link href="../css/general_main.css" rel="stylesheet">
	<script src="../js/jquery-1.9.1.js"></script>
	<script src="../js/jquery-ui-1.10.3.custom.js"></script>
	<script src="../js/displays.js"></script>
	<script src="../js/Saver.js"></script>
	<script src="../js/Getter.js"></script>
	<script src="../js/AjaxClass.js"></script>
	<script src="../js/Url.js"></script>
	<script src="../js/Loader.js"></script>
	<script src="../js/Builder.js"></script>
	<script src="../js/LocEnum.js"></script>
	<script src="../js/StatusEnum.js"></script>
        <script>
            $(document).ready(function(){
                var res = Getter.getNameOfUser();
                $("#userName").html("Hola, "+res.user);
                Loader.loadContent(LocEnum.home);
            });            
            
        </script>
    </head>
    <body>
        <div id="head-content">
            <ul id="head-list">
                <li>
                    <div id="logo-content">
                        <img id="logo" src="../images/logo.jpg">
                    </div>
                </li>
                <li>
                    <div id="page-title">
                        <label id="title-label">Sistema para la Asistencia de Investigación Exploratoria</label>
                    </div>
                </li>
            </ul>
            <div id="nav-path">
                <label>Home > Hola</label>
            </div>
        </div>
        <div id="top-menu">
            <ul>
                <li><a href="#" id="homebtn" onclick="Loader.loadContent(LocEnum.home)">Home</a></li>
                <li><a href="#" id="msgbtn" onclick="Loader.loadContent(LocEnum.message)">Avisos</a></li>
                <li><a href="#" id="helpbtn" onclick="Loader.loadContent(LocEnum.help)">Ayuda</a></li>
            </ul>
        </div>
        <div id="middle-section">
            <div id="left-menu">                
                <div id="profile-info">
                    <ul>
                        <li>
                            <img id="logo" src="../images/default_profile.png">
                        </li>
                        <li>
                            <label id="userName"></label>
                        </li>
                    </ul>
                </div>
                <div id="menu-pane">
                    <ul>
                        <li><a href="#" id="newProjectbtn" onclick="Loader.loadContent(LocEnum.newProjectForm)">Nuevo Proyecto</a></li>
                        <li><a href="#" id="modProjectbtn" onclick="Loader.loadContent(LocEnum.modProjectForm)">Editar Proyecto</a></li>
                        <li><a href="#" id="deleteProjectbtn" onclick="Loader.loadContent(LocEnum.deleteProjectForm)">Borrar Proyecto</a></li>
                        <li><a href="#" id="viewProjectbtn" onclick="Loader.loadContent(LocEnum.viewProjectForm)">Ver Proyecto</a></li>
                    </ul>
                </div>                
                <div id="settings">
                    <ul>
                        <li><a href="#" id="profilebtn">Mi Perfil</a></li>
                        <li><a href="#" id="logoutbtn">Salir</a></li>
                    </ul>
                </div>
                <div id="left-menu-bg"></div>
            </div>
            <div id="content">     
                <div id="projectsAccordion"></div>
            </div>
        </div>
        <div id="clearFloat"></div>
        <div id="footer">
            <br>
            <br>
            <br>
            <p>Website created by Josef Grenz Meza</p>
        </div>
    </body>
</html>
