<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <label class="headTitle">Nombre</label>
        <input type="text" id="name" name="projectName"/>
        <label class="headTitle">Descripción</label>
        <textarea id="description" name="description" placeholder="Descripción del proyecto..." rows="4" cols="50"></textarea>       
        <label class="headTitle">Categorías</label>
        <label class="headTitle"></label> <select id="qntyQuestions"></select>
    </body>
</html>
